PORT=5050
NODE_ENV=development
OSRM_API=http://router.project-osrm.org
ROUTING_ENGINE=osrm
BROUTER_API=http://localhost:17777/brouter
BROUTER_SEGMENTS_DIR=../brouter-data/segments4
BROUTER_SEGMENTS_BASE_URL=https://brouter.de/brouter/segments4
BROUTER_AUTO_FETCH_SEGMENTS=true
