:80 {
  encode gzip zstd

  reverse_proxy /auth* keycloak:8080 {
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {host}
  }

  reverse_proxy /api* backend:5050 {
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {host}
  }

  reverse_proxy frontend:3000 {
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {host}
  }
}
