{$PUBLIC_HOSTNAME} {
  encode gzip zstd

  # Keycloak under /auth
  reverse_proxy /auth* keycloak:8080

  # Backend API
  reverse_proxy /api* backend:5050

  # Frontend app
  reverse_proxy frontend:3000
}
